@import "../partials/variables";

body {
    margin: 0;
    padding: 0;

    background-color: rgb(243, 243, 217);
}



.header {
    display: flex;
    background-color: $headfootbackground;
    justify-content: space-around;

    color: white;

    img {
        margin-top: 0.4%;
        width: 60px;
    }

    a {
        margin-top: 1%;
        margin-bottom: 1%;
        text-decoration: none;
        border-radius: 5%;
        font-size: 40pt;
        font-family: Brush Script MT;

        &:hover {
            background-color: #d3969c;
        }
    }
}

.titel {
    text-align: center;
    margin-top: 10%;
    font-size: 40pt;
    font-family: Brush Script MT;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;

    .photo {
        margin: 5px;
        margin-bottom: 40px;
        width: 30%;
        border: 1px solid rgb(0, 0, 0);
        border-style: double;
        border-radius: 5%;
        height: 55vh;
        &:hover {
            border: 1px solid #667072;
        }

        img {
            object-fit: cover;
            border-radius: 5%;
            width: 100%;
            height: 100%;
        }
    }
}

.footer {
    background-color: $headfootbackground;

    p {
        margin: 0;
        margin-top: 3%;
        padding: 5pt;
        text-align: center;
        font-size: 10em;
        font-family: Courier;
    }
}

@media screen and (max-width: 900px) {
    .header{
        a{
            font-size: 20pt;
        }
    }

    .titel{
        font-size: 20pt;
    }
    .container {
        

        .photo {
            margin-top: 2em;
            width: 85%;
            border: 1px solid #ccc;
            height: 50vh;
            ;
        }
    }
}